In [41]:
import numpy as np
import pandas as pd

# Reading data

In [2]:
# pd.read_

# Creating DataFrames

In [3]:
df = pd.DataFrame(
    {
        'a': [4, 5, 6],
        'b': [7, 8, 9],
        'c': [10, 11, 12]
    },
    index=[1, 2, 3]
)

In [4]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [5]:
df = pd.DataFrame(
    [
        [4, 5, 6],
        [7, 8, 9],
        [10, 11, 12]
    ],
    index=[1, 2, 3],
    columns=['a', 'b', 'c']
)

In [6]:
df

    a   b   c
1   4   5   6
2   7   8   9
3  10  11  12

Lazy way of accessing column - it works only when we do not have whitespace into column name

In [7]:
df.a

1     4
2     7
3    10
Name: a, dtype: int64

Fancy way of accessing column

In [8]:
df['a']

1     4
2     7
3    10
Name: a, dtype: int64

In [9]:
df.iloc[1]

a    7
b    8
c    9
Name: 2, dtype: int64

# Reshaping data

In [10]:
pd.melt(df)

  variable  value
0        a      4
1        a      7
2        a     10
3        b      5
4        b      8
5        b     11
6        c      6
7        c      9
8        c     12

In [11]:
pd.pivot(df, columns='a')

     b               c
a   4    7     10   4    7     10
1  5.0  NaN   NaN  6.0  NaN   NaN
2  NaN  8.0   NaN  NaN  9.0   NaN
3  NaN  NaN  11.0  NaN  NaN  12.0

In [12]:
df1 = pd.DataFrame(
    [
        [4, 7, 10],
        [5, 8, 11],
        [6, 9, 12],
    ],
    index=[1, 2, 3],
    columns=['a', 'b', 'c']
)

In [13]:
df2 = pd.DataFrame(
    [
        [34, 37, 310],
        [35, 38, 311],
        [36, 39, 312]
    ],
    index=[1, 2, 3],
    columns=['a', 'b', 'c']
)

In [14]:
# vertical concat two DF and keeps indexes
pd.concat([df1, df2])

    a   b    c
1   4   7   10
2   5   8   11
3   6   9   12
1  34  37  310
2  35  38  311
3  36  39  312

In [15]:
# horizontal concat two DF
pd.concat([df1, df2], axis=1)

   a  b   c   a   b    c
1  4  7  10  34  37  310
2  5  8  11  35  38  311
3  6  9  12  36  39  312

# Sorting data

In [16]:
df.sort_values(by='a', ascending=False)

    a   b   c
3  10  11  12
2   7   8   9
1   4   5   6

# Dropping columns

In [17]:
df.drop(columns=['a'])

    b   c
1   5   6
2   8   9
3  11  12

# Filtering by logic

In [18]:
df.b > 8

1    False
2    False
3     True
Name: b, dtype: bool

In [19]:
# Returns the row where column `b` data is bigger than `8`
df[df.b > 8]

    a   b   c
3  10  11  12

In [20]:
# Returns the row where column `b` data is NOT bigger than `8`
df[~(df.b > 8)]

   a  b  c
1  4  5  6
2  7  8  9

# Largest and smallest

In [21]:
df.nlargest(2, 'a')

    a   b   c
3  10  11  12
2   7   8   9

In [22]:
df.nsmallest(2, 'a')

   a  b  c
1  4  5  6
2  7  8  9

# Checking membership

In [23]:
df.a.isin([4])

1     True
2    False
3    False
Name: a, dtype: bool

In [24]:
df[df.a.isin([4])]

   a  b  c
1  4  5  6

# Choose rows and columns

In [25]:
df

    a   b   c
1   4   5   6
2   7   8   9
3  10  11  12

iloc - integer location

In [26]:
# iloc[row with index, column with index]
df.iloc[1, 0]

7

In [27]:
# iloc[all from row, only column with index 2]
df.iloc[:, 2]

1     6
2     9
3    12
Name: c, dtype: int64

loc - location

In [28]:
# loc[row with index `1` and column with name `a`]
df.loc[1, 'a']

4

In [29]:
# loc[row where column `a` has value less than `6` and column `b`]
df.loc[df.a < 6, 'b']

1    5
Name: b, dtype: int64

In [30]:
# df.iat == df.iloc
df.iat[1, 1]

8

In [31]:
# df.at == df loc
df.at[1, 'a']

4

# Summarize data

In [32]:
# returns unique values and their count for column
df.value_counts('a')

a
4     1
7     1
10    1
Name: count, dtype: int64

In [33]:
df.shape

(3, 3)

In [34]:
# returns unique values
df.a.unique()

array([ 4,  7, 10], dtype=int64)

In [35]:
# returns number of unique values for column
df.a.nunique()

3

In [36]:
# returns statistics for all digital values in DF
df.describe()

          a     b     c
count   3.0   3.0   3.0
mean    7.0   8.0   9.0
std     3.0   3.0   3.0
min     4.0   5.0   6.0
25%     5.5   6.5   7.5
50%     7.0   8.0   9.0
75%     8.5   9.5  10.5
max    10.0  11.0  12.0

In [37]:
df.a.sum()

21

# Handling missing data

In [46]:
# np.nan == None == pd.NaT
df_nan = pd.DataFrame(
    [
        [np.nan, 7, 10],
        [5, None, 11],
        [pd.NaT, 9, np.nan]
    ],
    index=[1, 2, 3],
    columns=['a', 'b', 'c']
)

In [47]:
df_nan.isna()

       a      b      c
1   True  False  False
2  False   True  False
3   True  False   True

In [48]:
# `isnull()` == `isna()`
df_nan.isnull()

       a      b      c
1   True  False  False
2  False   True  False
3   True  False   True

In [49]:
# fill `NaN` with string/digital/calculation/function
df_nan.fillna('Empty')

       a      b      c
1  Empty    7.0   10.0
2      5  Empty   11.0
3  Empty    9.0  Empty

In [50]:
# drops all columns where we have `NaN`
df_nan.dropna()

Empty DataFrame
Columns: [a, b, c]
Index: []

In [51]:
# drops columns which have only `NaN` values
df_nan.dropna(how='all')

     a    b     c
1  NaN  7.0  10.0
2    5  NaN  11.0
3  NaT  9.0   NaN

# Handling duplicates

In [52]:
df_duplicates = pd.DataFrame(
    [
        [7, 7, 7],
        [7, 7, 7],
        [7, 7, 7]
    ],
    index=[1, 2, 3],
    columns=['a', 'b', 'c']
)

In [53]:
df_duplicates

   a  b  c
1  7  7  7
2  7  7  7
3  7  7  7

In [54]:
# compares only rows !!!
df_duplicates.duplicated()

1    False
2     True
3     True
dtype: bool

In [55]:
# drops duplicated rows
df_duplicates.drop_duplicates()

   a  b  c
1  7  7  7